{% extends "base.html" %}

{% block content %}

<h2>Item: <a href="{{ item.get_short_url }}">{{ item.get_short_url }}</a></h2>

{% ifnotequal item.short_url item.short_name %}
<p>Alternatively, <a href="{{ item.get_short_name }}">{{ item.get_short_name }}</a></p>
{% endifnotequal %}

{% if item.status_current %}
<p><a href="{{ item.get_destination_url }}">Destination URL</a> is up since {{ item.status_working_since }}.</p>
{% else %}
 {% if item.status_last_error %}
  <p><a href="{{ item.get_destination_url }}">Destination URL</a> is down{% if item.status_last_working %} since {{ item.status_last_working }}{% endif %}. Error recorded is <code>{{ item.status_last_error }}</code></p>
 {% else %}
  <p><a href="{{ item.get_destination_url }}">Destination URL</a> status is unknown.</p>
 {% endif %}
{% endif %}

<form method="post" action="{% url edit short_url %}">

 {% csrf_token %}
<table class="table">
{{ form }}
<tr>
<td><a href="{% url items %}" class="btn">Back</a></td>
<td><input type="submit" value="Update" class="btn"></td>
<td></td>
</tr>
</table>
</form>
{% endblock %}
